*,*::after,*::before{
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
}
body{
    background-color: rgb(226, 164, 164);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
}
h1{
    background-color: cadetblue;
    animation: heding 3.3s ease infinite alternate;
    width: 200px;
    transform-origin: middle;
    text-align: center;
}
@keyframes heding{
    0%{
      transform: rotate(20deg);
    }
    100%{
        transform: rotate(-20deg);
    }
}
.clock{
    width: 300px;
    height: 300px;
    background: linear-gradient(to right ,rgba(12, 212, 12, 0.253) 60%,rgba(40, 6, 233, 0.384) 40%);
    box-shadow: 2px 2px 2px white;
    border-radius: 50%;
    outline: 2px solid rgb(14, 15, 14);
    /* border: 2px solid rgb(248, 8, 8); */
    position: relative;
}
.clock .number{
 --rotation:0;
 position: absolute;
 width: 100%;
 height: 100%;
 /* background-color: red; */
 color: rgb(0, 6, 12);
 text-align: center;
 transform: rotate(var(--rotation));
 font-size: 1.5rem;
 
}
.clock .number1{--rotation:30deg}
.clock .number2{--rotation:60deg}
.clock .number3{--rotation:90deg}
.clock .number4{--rotation:120deg}
.clock .number5{--rotation:150deg}
.clock .number6{--rotation:180deg}
.clock .number7{--rotation:210deg}
.clock .number8{--rotation:240deg}
.clock .number9{--rotation:270deg}
.clock .number10{--rotation:300deg}
.clock .number11{--rotation:330deg}

.clock .hand{
 --rotation:0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  
 
  border: 1px solid rgb(15, 15, 15);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
  /* background-color: rgb(15, 15, 13); */
}
.clock::after{
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.clock .hand.second { 
    width: 2px;
    height: 40%;
    background-color: red;
    border: none;
  
}
.clock .hand.minute { 
    width: 5px;
    height: 38%;
    /* background-color: rgb(17, 14, 14); */
  
}
.clock .hand.hour { 
    width: 5px;
    height: 35%;
    /* background-color: rgb(12, 10, 10); */
  
}


